#post-act-page
  #post-button
    margin-top: 20px
  textarea
    margin-top: 15px
    +box-sizing(border-box)
    width: 100%
    font-size: 16px
    height: 90px

.map-view
  position: absolute
  top: 40px
  bottom: 0
  left: 0
  right: 0
