#mission-page
  .mission-slider
    margin-top: 100px
    margin: 100px 40px 0 40px
    overflow: visible
    .swipe-wrap
      overflow: visible

/* TODO: Should not go here */
.mission-slider
  .mission
    position: relative
    .mission-description
      margin-top: 20px
      color: white
    .mission-agents
      position: absolute
      bottom: 10px
      right: 10px
      font-size: 0.8em
      color: white
    .mission-content
      width: 200px
      height: 200px
      border-radius: 5px
      padding: 15px
      background-color: #00CFCC
      margin: 0 auto

