input
  margin: 10px 0

input[type=text], textarea
  border: 1px solid #DDDDDD
  padding: 7px 5px
  font-size: 22px
  resize: none

.help-text
  margin-top: -10px
  margin-bottom: 10px
  font-size: 0.7em
  display: block
  font-style: italic
