.header
  background-color: #EEEEEE
  height: 40px
  border-radius: 5px 5px 0 0
  position: relative

  .nav-btn
    border: 0px none
    background-color: #AAA

  .left-nav
    position: absolute
    left: 5px
    top: 5px

  .right-nav
    position: absolute
    right: 5px
    top: 5px

  .title
    padding-top: 5px
    font-family: 'Yanone Kaffeesatz', sans-serif
    font-weight: 200
    text-align: center
    font-size: 24px


