.header
  background-color: #EEEEEE
  height: 40px
  border-radius: 5px 5px 0 0
  position: relative

  .nav-btn
    border: 0px none
    background-color: #AAA
    width: 30px
    height: 30px
    background-repeat: no-repeat
    background-color: rgba(0,0,0,0)
    -webkit-tap-highlight-color: rgba(0,0,0,0)

  .left-nav
    position: absolute
    left: 5px
    top: 5px

  .right-nav
    position: absolute
    right: 5px
    top: 5px

  .title
    padding-top: 5px
    font-family: 'Yanone Kaffeesatz', sans-serif
    font-weight: 200
    text-align: center
    font-size: 24px

  .add-btn
    background-image: image-url('icons/plus.gif')

  .list-btn
    background-image: image-url('icons/list.gif')

  .map-btn
    background-image: image-url('icons/map.gif')

  .back-btn
    background-image: image-url('icons/back.gif')
