<div {{action openCard}} class="mission-content">
    <img src="assets/missions/hands.gif" />
    <div class="mission-description">"I gave a free hug to a friend!"</div>
    <div class="mission-agents">@Coupa 1 minute ago</div>
</div>
