<div id="act-map-page" class="content-page">
    <div class="header">
        <div class="title">Local Acts</div>
    </div>
    <div class="content">
        {{view KindActs.MapView}}
    </div>
</div>
