<div id="act-map-page" class="content-page">
    <div class="header">
        <button {{action showList}} class="nav-btn left-nav">List</button>
        <div class="title">Local Acts</div>
        <button {{action addAct}} class="nav-btn right-nav">Add</button>
    </div>
    <div class="content">
        {{view KindActs.MapView}}
    </div>
</div>
