<div id="act-view-page" class="content-page">
    <div class="header">
        <button {{action showList}} class="nav-btn left-nav">List</button>
        <div class="title">Act</div>
    </div>
    <div class="content">
        {{view KindActs.ActCardView}}
    </div>
</div>
