<div id="landing-page" class="content-page content" {{action goToWelcome}}>
    <div class="title">
        <h1>kind</h1>
        <h1>agents</h1>
    </div>
    <div class="subtitle">
        Become an undercover agent of kindness!
    </div>
</div>
