<div class="mission-slider swipe">
    <div class="swipe-wrap">
        {{#each mission in controller.content}}
            {{view KindActs.MissionSlideView contentBinding="mission"}}
        {{/each}}
    </div>
</div>

