<div class="mission-content">
    <img src="assets/missions/hands.gif" />
    <div class="mission-description">Give a hug to somebody random!</div>
    <div class="mission-agents">13 agents did it</div>
</div>
