<div class="mission-content" {{bindAttr style="view.contentStyle"}}>
    <img {{bindAttr src="view.imageSrc"}} />
    <div class="mission-description">{{view.content.description}}</div>
    <div class="mission-agents">13 agents did it</div>
</div>
