<div id="post-act-page" class="content-page">
    <div class="header">
        <div class="title">Post Act</div>
    </div>
    <div class="content">
        <p class="instructions">Impressive!  Share your act with others in the community</p>
        <div class="timer">
            {{timeLeftFormatted}}
        </div>
        <div class="mission-content">
            <img src="assets/missions/hands.gif" />
            <textarea>I gave a someone a free hug</textarea>
        </div>
        <button {{action postAct}} id="post-button" class="btn btn-gray">Post to map</button>
    </div>
</div>
