<div id="welcome-page" class="content-page">
    <div class="header">
        <div class="title">Welcome</div>
    </div>
    <div class="content">
        <p>
            Complete kindness missions and share with other anonymous agents!
        </p>
        <div class="agent-registration">
            <label for="agent-name">Your agent name:</label>
            {{view Ember.TextField id="agent-name" valueBinding="agentName"}}
            <span class="help-text">You can change it later</span>
            <button id="accept-button" {{action accept}} class="btn btn-red">I accept</button>
        </div>
    </div>
</div>
